.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("./assets/background.png");
    background-size: cover;
}

.login {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 640px;
    margin-right: 10vw;
    padding: 80px 32px;
    border-radius: 24px;
    background-color: #fafaf9;
}

.login > h1 {
    font-family: "Sansita One";
    font-size: 2.5em;
    padding-bottom: 64px;
}

.login > h2 {
    font-size: 2em;
    font-weight: bolder;
    margin-bottom: 12px;
}

.login > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login > form > div {
    display: flex;
    gap: 16px;
}

.login > form > div > button {
    width: 120px;
}

.login > form > div > button:nth-of-type(1) {
    background-color: #ff9a79;
}
