:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 3.2em;
}

button {
    padding: 0.5em 1.5em;
    border-radius: 1.5em;
    border: 4px solid #ff9a79;
    font-size: 1em;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: filter 0.25s;
}
button:hover {
    filter: brightness(90%);
}

input {
    width: 100%;
    padding: 0.6em 0.75em;
    border-radius: 0.5em;
    border: none;
    outline: none;
    background-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.25em;
    font-weight: 500;
}

textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    outline: none;
    resize: none;
    background-color: white;
    font-size: 1.2em;
}

ul {
    line-height: 20px;
    list-style-position: inside;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
