.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 48px 32px;
}

.stats {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    border: #ff9a79 2px solid;
    border-radius: 8px;
    background-color: #ffe1d7;
}

.stats > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    padding: 24px 16px;
    border: #ff9a79 2px solid;
}

.stats > div > p {
    font-size: 2em;
}

.stats > div > h1 {
    font-size: 5em;
    font-weight: 500;
    line-height: 80px;
}

.profile > h3 {
    font-size: 1.4em;
    font-weight: 500;
}

.mood {
    margin-top: 16px;
    padding: 16px;
    border: #ff9a79 3px solid;
    border-radius: 16px;
}
